<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.LostFoundMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加失物招领记录 -->
	<insert id="addLostFound" parameterType="lostFound">
		insert into t_lostFound(title,goodsName,pickUpTime,pickUpPlace,contents,connectPerson,phone,addTime) values 
		(#{title},#{goodsName},#{pickUpTime},#{pickUpPlace},#{contents},#{connectPerson},#{phone},#{addTime})
	</insert>

	<!-- 按照查询条件分页查询失物招领记录 -->
	<select id="queryLostFound" resultMap="lostFoundMap" >
		select t_lostFound.* from t_lostFound ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="lostFoundMap" type="lostFound">
        <id property="lostFoundId" column="lostFoundId" />
    </resultMap>

    <!-- 按照查询条件查询所有失物招领记录 -->
	<select id="queryLostFoundList" resultMap="lostFoundMap" >
		select t_lostFound.* from t_lostFound ${where}
	</select>

    <!-- 按照查询条件的失物招领记录数 -->
	<select id="queryLostFoundCount" resultType="int">
		select count(*) from t_lostFound ${where}
	</select>

	<!-- 根据主键查询某个失物招领记录 -->
	<select id="getLostFound" parameterType="int" resultMap="lostFoundMap">
		select * from t_lostFound where t_lostFound.lostFoundId = #{lostFoundId}
	</select>

	<!-- 更新失物招领记录 -->
	<update id="updateLostFound" parameterType="lostFound">
		update t_lostFound set title=#{title},goodsName=#{goodsName},pickUpTime=#{pickUpTime},pickUpPlace=#{pickUpPlace},contents=#{contents},connectPerson=#{connectPerson},phone=#{phone},addTime=#{addTime} where lostFoundId = #{lostFoundId}
	</update>

	<!-- 删除失物招领记录 -->
	<delete id="deleteLostFound" parameterType="int">
		delete from t_lostFound where lostFoundId=#{lostFoundId}
	</delete>

</mapper>
